

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

:root{
    --fs-xl: clamp(1.2rem,3.5vw + 0rem,3.5rem);
    --fs-quotePara: clamp(0.3rem,2.5vw + 0rem,1.5rem);
    --fs-navbar : clamp(0.5rem ,3vw + 0rem,1.3rem);
    --mg-quotePara : calc(8px + 2.8vw);
    --mg-quote : calc(8px + 2.8vw);
}


img {
    width: 35vw;
    /* height: 5%; */
    padding: 0;
}

.first-container {
    background-color: whitesmoke;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
}

.first-container-one {
    width: 50%;
}

.first-first-container-two {
    width: 50%;
}

.list {
    list-style-type: none;
    font-size: var(--fs-navbar);
    display: flex;
    justify-content: space-around;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
}

.item {
    padding: 0.3em 0;
    margin: 0.5em;
}

ul li a {
    text-decoration: none;
    color: #083c66;
    padding: 0.3em;
}

.item:hover {
    /* text-decoration: underline; */
    background-color: lightblue;
}

.second-container{
    position: relative;
}

.second-container-one{
    position: absolute;
}

#cover-img{
    width: 100%;
    position: absolute;
}

.quote {
    font-size: var(--fs-xl);
    margin-left: calc(8px + 2.8vw);;
    margin-top: 3em;
    z-index: 1;
    margin-bottom: 0;
    animation-name: quote-text-animation;
    animation-duration: 5s;
    animation-delay: 0;
}

.quote-para {
    font-weight: bold;
    display: inline-block;
    font-size: var(--fs-quotePara);
    margin: 0 var(--mg-quotePara);
    animation-name: text-para-animation;
    animation-duration: 5s;
    animation-delay: 0s;
    z-index: 1;
}

@keyframes quote-text-animation {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes text-para-animation {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.wavy-container{
    max-width: 100%;
    position: absolute;
    /* border: 1px solid black; */
    top: 51.4em;
}

#wavy-img{
    z-index: 1;
    width: 100%;
}



@media (max-width: 768px) {
    .first-container {
        display: inline-block;
        width: 100%;
        height: auto;
    }
    
    .first-container-one {
        display: inline-block;
        width: 100%;
    }
    
    .first-container-two {
        display: inline-block;
        width: 100%;
    }
    
    .list {
        display: inline-block;
        width: 100%;
        font-size: var(--fs-navbar);
        text-align: center;
        /* padding: 1.5em; */
    }
    
    img {
        width: 70vw;
    }
    
    .toggle-btn .bar {
        height: .3rem;
        width: 100%;
        background-color: #083c66;
        border-radius: 10px;
    }
    
    .toggle-btn {
        position: absolute;
        top: .65rem;
        right: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 1.8rem;
        height: 1.5rem;
    }

    .first-container-two {
        display: none;
    }
    .cover-img-container{
        /* align-items: center; */
        position: static;
    }
    
    

}

@media (min-width:480px) {
    .toggle-btn {
        top: 1.4rem;
    }
    
    .text-container{
        top: 22.5em;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }
}

@media (max-width : 480px) {

    .toggle-btn {
        top: 0.5rem;
    }
}


